<div class="main-container">

    <h1>SpaceX</h1>


    <div class="form-container">
        <form name="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Username</label>

                <input type="text" name="username" [(ngModel)]="user.username" required class="form-control" placeholder="Enter username">

            </div>
            <div class="form-group">
                <label>Password</label>

                <input type="password" name="password" [(ngModel)]="user.password" required class="form-control" placeholder="Enter password">

            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading">Loging in ...</span>
                    <span *ngIf="!loading">Login</span>
                </button>
            </div>
        </form>
    </div>

</div>