<app-toolbar></app-toolbar>

<div class="container dashboard">
    <div class="filter">
        <div class="filter-top">
            <span>Filters</span>
        </div>

        <div style="text-align: center;">
            <span style="border-bottom: 1px solid;">Launch Year</span>
        </div>
        <div style="padding: 10%;">
            <span *ngFor="let item of launchYears" class="launchyear" (click)="selectFilter(item)" [ngStyle]="{'background-color':item.isSelected == true ? '#98FB98' : '#8FBC8F' }">
                <span style="float: left;">{{item.val}}</span>
            </span>
        </div>


        <div style="text-align: center;display: inline-flex;margin: 10px 45px;">
            <span style="border-bottom: 1px solid;">Successful Launch</span>
        </div>
        <div style="margin-left: 45px;">
            <span class="launchyear" (click)="selectFilter(item)" [ngStyle]="{'background-color': '' == true ? '#98FB98' : '#8FBC8F' }">
                <span style="float: left;">True</span>
            </span>
            <span class="launchyear" (click)="selectFilter(item)" [ngStyle]="{'background-color': '' == true ? '#98FB98' : '#8FBC8F' }">
                <span style="float: left;">False</span>
            </span>
        </div>
        <div style="text-align: center;display: inline-flex;
        margin: 10px 45px;">
            <span style="border-bottom: 1px solid;">Successful Landing</span>
        </div>
        <div style="margin-left: 45px;">
            <span class="launchyear" (click)="selectFilter(item)" [ngStyle]="{'background-color': '' == true ? '#98FB98' : '#8FBC8F' }">
                <span style="float: left;">True</span>
            </span>
            <span class="launchyear" (click)="selectFilter(item)" [ngStyle]="{'background-color': '' == true ? '#98FB98' : '#8FBC8F' }">
                <span style="float: left;">False</span>
            </span>
        </div>


    </div>
    <div class="product">
        <div *ngFor="let item of productList">
            <div class="productitem">
                <img [src]="item.image" class="productimage">
                <span *ngIf="item.discount != 0" class="discount">{{item.discount + '%'}}</span>
                <span>{{item.price.final_price |currency:'INR':'symbol'}}</span>
            </div>
            <div class="inneritem">
                <span>Product - {{item.title}}</span>
                <span>Brand - {{item.brand}}</span>
                <span>Color - {{item.colour.title}}</span>
                <button class="btn btn-primary" (click)="addItem(item)" *ngIf="!item.isAdded">Add</button>
                <button class="btn btn-primary" (click)="removeItem(item)" *ngIf="item.isAdded">Remove</button>
            </div>
        </div>
    </div>
</div>